<!DOCTYPE html>
<html>
<head>
  <title>Catalyst</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>
  <script src="http://widget.cloudinary.com/global/all.js"></script>
  <script type="text/javascript">
    window.CLOUDINARY_OPTIONS = {
      cloud_name: "<%= Figaro.env.CLOUD_NAME %>",
      upload_preset: "<%= Figaro.env.UPLOAD_PRESET %>"
    };
    debugger;
  </script>

</head>
<body>

<%= yield %>


</body>
</html>
